.idea/
.tox/
.vscode/
UNKNOWN.egg-info/
build/
dist/
examples/
main/
results/
thm/__pycache__/
sources/tableau_hyper_management/__pycache__/*
tableau_hyper_management.egg-info/
venv/
virtual_environment/
.pypirc
/*.log
/archive.zip
/build.txt
/main.spec
*.pyc
*.mo
hyperd.log
/samples/*.log
/samples/*.log.*
